includes:
  - ./phpstan-baseline.neon

parameters:
  paths:
    - src

  # The level 8 is the highest level
  level: 6

  ignoreErrors:
    - '#Unsafe usage of new static#'

  excludePaths:
    - src/Foundation/Console/TestCommand.php

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
