parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Spatie\\\\Ray\\\\Settings\\\\Settings\\:\\:\\$send_duplicate_queries_to_ray\\.$#"
			count: 1
			path: src/Bootstrap/ConfigureRay.php

		-
			message: "#^Access to an undefined property Spatie\\\\Ray\\\\Settings\\\\Settings\\:\\:\\$send_queries_to_ray\\.$#"
			count: 1
			path: src/Bootstrap/ConfigureRay.php

		-
			message: "#^Access to an undefined property Spatie\\\\Ray\\\\Settings\\\\Settings\\:\\:\\$send_slow_queries_to_ray\\.$#"
			count: 1
			path: src/Bootstrap/ConfigureRay.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:environmentFile\\(\\)\\.$#"
			count: 1
			path: src/Bootstrap/LoadEnvironmentVariables.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:environmentPath\\(\\)\\.$#"
			count: 1
			path: src/Bootstrap/LoadEnvironmentVariables.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\LazyCollection\\<int,mixed\\>\\:\\:each\\(\\) expects callable\\(mixed, int\\)\\: mixed, Closure\\|null given\\.$#"
			count: 1
			path: src/TestCase.php

		-
			message: "#^Variable \\$attributes in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: src/TestCase.php
