includes:
  - ./phpstan-baseline.neon

parameters:
  paths:
    - src

  # The level 8 is the highest level
  level: 8

  ignoreErrors:
    - '#Call to an undefined method Orchestra\\Testbench\\[a-zA-Z\\]+::parseTestMethod(Annotations|Attributes)\(\)#'
    - '#Unsafe usage of new static#'

  excludePaths:
    - src/Exceptions/DeprecatedException.php
    - src/Exceptions/PHPUnitErrorException.php
    - src/Foundation/Console/TestCommand.php
    - src/PHPUnit/TestCase.php

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
