<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <coverage  includeUncoveredFiles="false" />
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <file>src/Concerns/HandlesAnnotations.php</file>
            <file>src/Concerns/HandlesTestFailures.php</file>
            <file>src/Concerns/WithFactories.php</file>
            <file>src/Console/Commander.php</file>
            <file>src/Console/Kernel.php</file>
            <file>src/Exceptions/DeprecatedException.php</file>
            <file>src/Exceptions/Handler.php</file>
            <file>src/Exceptions/PHPUnitErrorException.php</file>
            <file>src/Foundation/Console/Kernel.php</file>
            <file>src/Foundation/Console/ServeCommand.php</file>
            <file>src/Foundation/Console/TestFallbackCommand.php</file>
            <file>src/Foundation/Http/Kernel.php</file>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Testbench Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <server name="SEND_DEPRECATED_NOTICES_TO_RAY" value="(true)"/>
    </php>
</phpunit>
