name: "update-skeleton"

on:
  workflow_dispatch:

jobs:
  update:
    name: Update Skeleton

    runs-on: ubuntu-latest
    continue-on-error: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress

      - name: Installed dependencies
        run: composer show -D

      - name: Sync changes
        run: |
          php bin/sync

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Skeleton
